[package]
name = "whamm"
version = "0.1.0"
edition = "2021"

[[bin]]
doc = false
name = "whamm"
path = "src/main.rs"
#required-features = ["exe"]

[dependencies]
failure = "0.1.5"
glob = "0.3.1"
lazy_static = "1.4.0"
convert_case = "0.6.0"
regex = "1.10.4"
walrus = "0.20.3"
orca = { path = "../orca" }
wasmparser = "0.212.0"

# Logging
env_logger = "0.10.2"
log = "0.4.20"
termcolor = "1.4.1"

# Pest
pest = "2.7.7"
pest_derive = "2.7.7"

# Visualization
graphviz-rust = "0.9.0"
project-root = "0.2.2"
opener = { version = "0.7.0", default-features = false }

# CLI
clap = { version = "4.5.4", features = ["derive", "cargo", "env"] }
clap_complete = "4.5.2"

# wabt
wabt = "0.10.0"

[build-dependencies]
clap = { version = "4.5.4", features = ["derive", "cargo", "env"] }
clap_complete = "4.5.2"
clap_mangen = "0.2.20"
project-root = "0.2.2"
