name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  # Check Code style quickly by running `rustfmt` over all code
  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - run: rustup component add rustfmt
    - run: cargo fmt --all -- --check

  build_and_test:
    name: Build project and run all unit AND integration tests

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: plinioh/setup-binary-action@v1.0.0
      with:
        binaryName: wasm2wat
        binaryUrl: https://github.com/WebAssembly/wabt/releases/download/1.0.34/wabt-1.0.34-ubuntu.tar.gz
        binaryPathInArchive: wabt-1.0.34/bin/wasm2wat
    - name: Build Orca
      run: |
        cd .. && git clone https://github.com/thesuhas/orca.git
        cd orca
        cargo build
    - name: Build
      run: |
        rustup target add wasm32-unknown-unknown
        cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
